doctype html
html(ng-app='app')
  head
    meta(charset='UTF-8')
    title Angular + Gulp
  body
    h1 Angular + Gulp
    ui-view
    p
      | This is Jade file and more and more...
    // bower:js
    // endinject
    // inject:js
    // endinject