doctype html
html(ng-app='app')
  head
    meta(charset='UTF-8')
    title Angular + Gulp
    // inject:css
    // endinject
  body
    h1 Angular + Gulp
    ui-view
    .p
      | This is Jade file and more and more...
    .row
      i.socials__item_vk
      i.socials__item_fb
      i.socials__item_tw
      i.socials__item_in
      i.socials__item_git
      i.socials__item_you
    // bower:js
    // endinject
    // inject:js
    // endinject